@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

:root {
   --btn-color: #f4f8ff;
   --btn-hover-color: #0ad4fa;
   --text-color: #a3a3a3;
   --text-color-dark: #616161;
   --text-color-btn: #fff;
   --font-size: 24px;
   --letter-spacing: -0.15px;
   --line-height: 48px;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}

/* Responsive version */
.App {
   font-family: "Source Sans Pro", sans-serif;
   background-color: #ffffff;
   height: 100%;
   transition: background-color 0.5s ease;
   min-width: 320px;
}

.general-container {
   min-width: 320px;
   margin: 0 auto;
   border-right: 1px solid #d9d9d9;
   border-left: 1px solid #d9d9d9;
   background-color: #f4f8ff;
   transition: background-color 0.5s ease;
}

/* Desktop Version */
@media only screen and (min-width: 800px) {
   .App {
      text-align: center;
   }

   .general-container {
      max-width: 1440px;
   }
}
