header {
   height: 492px;
}

.logo-username-container {
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   height: 38px;
   padding-left: 42px;
}

.username-points-container {
   display: flex;
   width: 215px;
   margin-right: 48px;
   justify-content: center;
   align-items: center;
}

.username {
   color: #616161;
}

.total-points-btn {
   display: flex;
   margin-left: 27px;
   justify-content: center;
   align-items: center;
   background-color: #ebe6e6;
   width: 103px;
   height: 48px;
   border-radius: 100px;
   cursor: pointer;
   transition: all 0.5s ease 0s;
   color: #616161;
   border: none;
}

.total-points-btn:hover {
   background-color: #0ad4fa;
   cursor: pointer;
   transition: all 0.5s ease 0s;
   color: #ffffff;
}

.coin-icon {
   height: 24px;
   margin-left: 6px;
}

.add-points-picture-container {
   position: relative;
}

.add-points-container {
   position: absolute;
   z-index: 1;
   left: 82%;
   top: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgb(255, 255, 255, 0.8);
   width: 200px;
   height: 250px;
   border-radius: 8px;
   visibility: visible;
   opacity: 1;
   transition: opacity 1s, visibility 1s;
}

.hide-container {
   position: absolute;
   z-index: 1;
   left: 82%;
   top: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgb(255, 255, 255, 0.8);
   width: 200px;
   height: 250px;
   border-radius: 8px;
   visibility: hidden;
   opacity: 0;
   transition: opacity 1s, visibility 1s;
}

.points-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #ebe6e6;
   width: 130px;
   height: 48px;
   border-radius: 100px;
   border: none;
   color: #616161;
   margin: 5px 0 5px 0;
   transition: all 0.5s ease 0s;
}

.points-btn:hover {
   background-color: #0ad4fa;
   cursor: pointer;
   transition: all 0.5s ease 0s;
   color: #fff;
}

.h1-pic-container {
   overflow: hidden;
   position: relative;
   height: 412px;
}

.title {
   position: absolute;
   color: #fff;
   top: 284px;
   left: 132px;
   font-size: 64px;
}

.header-pic {
   height: 115%;
   width: 100%;
   object-fit: cover;
}
