footer {
   width: 1176px;
   height: 140px;
   margin: auto;
   display: flex;
   align-items: center;
   margin-top: 20px;
}

.amount-container {
   display: flex;
   padding-bottom: 20px;
   width: 1176px;
   border-bottom: 1px solid #d9d9d9;
}

.amount-products-footer {
   margin-right: 850px;
   width: 220px;
   height: 48px;
   color: #616161;
   font-size: 24px;
   letter-spacing: -0.15px;
   line-height: 48px;
}
