/* Responsive version  */
.filters-container {
   display: flex;
   flex-wrap: wrap;
   min-width: 320px;
   height: 137px;
   margin: auto;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
}

.amount-products {
   height: 48px;
   color: var(--text-color-dark);
   font-size: 16px;
   letter-spacing: var(--letter-spacing);
   line-height: var(--line-height);
   transition: all 0.5s ease 0s;
   margin-left: 10px;
}

.sort-by {
   font-size: 16px;
   color: var(--text-color);
   letter-spacing: var(--letter-spacing);
   line-height: var(--line-height);
   margin: 0 25px 0 15px;
}

.filter {
   background-color: var(--btn-color);
   border-radius: 100px;
   width: 100px;
   height: 30px;
   color: var(--text-color);
   font-size: 16px;
   letter-spacing: var(--letter-spacing);
   line-height: var(--line-height);
   text-align: center;
   border: 1px solid #d9d9d9;
   text-align: center;
   text-align-last: center;
   transition: all 0.5s ease;
   outline: none;
   margin-right: 15px;
   box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.filter:hover {
   background-color: var(--btn-hover-color);
   color: #fff;
   cursor: pointer;
   transition: all 0.5s ease 0s;
}

.purchase-history-btn {
   width: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.pagination-component {
   display: flex;
}

.hide-component {
   display: none;
}

/* Desktop Version */
@media only screen and (min-width: 800px) {
   .filters-container {
      height: 120px;
      align-items: flex-end;
   }

   .amount-products {
      width: 174px;
      margin: 0 24px 0 0;
      font-size: var(--font-size);
   }

   .vertical-line {
      border-left: 1px solid #d9d9d9;
      height: 49px;
      width: 1px;
      margin-right: 24px;
   }

   .sort-by {
      font-size: var(--font-size);
      margin: 0 24px 0 0;
   }

   .filter {
      width: 172px;
      height: 48px;
      margin-right: 24px;
      font-size: var(--font-size);
   }

   .purchase-history-btn {
      width: 220px;
      margin-right: 105px;
   }
}
