.arrows-container {
   /* display: flex; */
   /* background-color: yellow; */
}

.arrow-left {
   height: 48px;
   margin-right: 12px;
   transition: all 0.5s ease 0s;
   border-radius: 100%;
}

.arrow-right {
   height: 48px;
   transition: all 0.5s ease 0s;
   border-radius: 100%;
}

.hide {
   display: none;
}

.arrow:hover {
   background-color: #0ad4fa;
   cursor: pointer;
   transition: all 0.5s ease 0s;
   color: #fff;
}
