/* Responsive version */
.arrow-left {
   height: 35px;
   margin-right: 5px;
   transition: all 0.5s ease 0s;
   border-radius: 100%;
}

.arrow-right {
   height: 35px;
   transition: all 0.5s ease 0s;
   border-radius: 100%;
}

.hide {
   display: none;
}

.arrow:hover {
   background-color: var(--btn-hover-color);
   cursor: pointer;
   transition: all 0.5s ease 0s;
   color: #fff;
}

/* Desktop Version */
@media only screen and (min-width: 800px) {
   .arrow-left {
      height: 48px;
      margin-right: 12px;
   }

   .arrow-right {
      height: 48px;
      border-radius: 100%;
   }
}
